@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6bhmgv');
  src:  url('../fonts/icomoon.eot?6bhmgv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6bhmgv') format('truetype'),
    url('../fonts/icomoon.woff?6bhmgv') format('woff'),
    url('../fonts/icomoon.svg?6bhmgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#wilted{
	width:30px;
}

.topBanner, .bottomBanner{
	background-color: black;
	color: #efefef;
}

.topBanner, .bottomBanner{
	font-size: 0.9em;
}

.topBanner ul,
.topBanner li,
.bottomBanner ul,
.bottomBanner li{
	margin: 0;
	padding: 0;
	display: inline;
}

#topBannerRight{
	float: right;
}

.topBanner, .bottomBanner{
	padding-bottom: 5px;
	padding-top: 5px;
}

.bottomBanner{
	text-align: center;
}

.topBanner a, .bottomBanner a{
	color: #efefef;
}

#myUsername{
	text-align: center;
	padding-top: 0;
	font-size: 0.9em;
	margin-left: -15px;
}

#profileSection{
	background: url("../images/background.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	padding-bottom: 25px;
	color: white;
}

#profileSection img{

	padding-top: 5px;
	max-width: 150px;
	border-radius: 50%;
	padding-bottom: 10px;
}

#profileSection p{
	padding-bottom: 0;
	margin-bottom: 0;
}

#badges{
	margin-top: 0;
	padding-top: 0;
	text-align:left;
	position: absolute;
	padding-left: 22px;
}

#theNavbar{

	box-shadow: 0px 1px 15px #000000;
	/*border-bottom: 1px solid black;*/
	z-index:1000;
}

#socialBanner{
	box-shadow: -0px -1px 15px #000000;
	/*border-top: 1px solid black;*/
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
}

.socialSite{
	color:white;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.socialSite i{
	font-size: 25px;
}

.socialSite  svg{
	font-size: 23px;
	padding-bottom: 2px;
}

.followers{
	text-align: center;
	margin-left: 5px;
}

.brk{
	position: relative;
	top: -5px;
}

.icoMoonFont{
	font-family: icomoon;
	font-style: normal;
	font-size: 20px !important;
	padding-bottom: 2px;
}

#recentProjects{
	padding-top: 35px;
	z-index:-1000;
	background-color: white;
}

#recentProjects .row{
	padding-bottom: 35px;
}

.recentProjectsHeader{
	text-align: center;
	padding-bottom: 25px;
}

.projectTitle{
	text-align: center;
	font-size: 1.5em !important;
	font-weight: normal;
}

.panel-title{
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.panel-body{
	margin-bottom: 30px;
	background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.panel-body img{
	padding-top: 20px;
	width: 100%;
	max-width: 100%;

	padding-bottom: 30px;
}*/


.modal-body img{
	width: 100%;
}

.modal-body button{
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

#ratings{
	width: 100%;
}
#ratings img{
	padding:0;
	margin:0;
	border-radius: 0;
	float: right;
	height: 30px;
	padding-right: 22px;
}


/* ================================================ */

body{
	/*background-image: url("generic-bg.jpg");
    background-repeat: no-repeat;*/
}

.exam-badge {
    background-image: url("../images/sprite-exams.png");
    background-repeat: no-repeat;
    display: inline-block;
    float: none;
    height: 30px;
    margin-left: 0px;
    overflow: hidden;
    vertical-align: middle;
    width: 30px;
}

.exam-badge-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        height: 34px;
        margin-bottom: 5px;
        padding-left: 35px;
        padding-top: 5px;
        position: relative;

        .exam-badge {
            left: 0;
            position: absolute;
        }
    }
}

.exam-name {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    padding-top: 7px;
}

.exam-result {
    margin-left: 5px;
    .type(detail);
}

.eb-ThreeDMax_1 {
    background-position: -706px -642px;
}

.eb-ThreeDMax_2 {
    background-position: -674px -642px;
}

.eb-ThreeDMax_3 {
    background-position: -642px -770px;
}

.eb-ADsense_1 {
    background-position: -642px -738px;
}

.eb-ADsense_2 {
    background-position: -642px -706px;
}

.eb-ADsense_3 {
    background-position: -642px -674px;
}

.eb-ADwords_1 {
    background-position: -642px -642px;
}

.eb-ADwords_2 {
    background-position: -770px -610px;
}

.eb-ADwords_3 {
    background-position: -738px -610px;
}

.eb-AJAX_1 {
    background-position: -706px -610px;
}

.eb-AWS {
    background-position: -674px -610px;
}

.eb-Analog-Electronics_1 {
    background-position: -642px -610px;
}

.eb-Analog-Electronics_2 {
    background-position: -610px -770px;
}

.eb-Analog-Electronics_3 {
    background-position: -610px -738px;
}

.eb-AutoCAD2010 {
    background-position: -610px -706px;
}

.eb-CUDA {
    background-position: -610px -674px;
}

.eb-C_1 {
    background-position: -610px -642px;
}

.eb-C_2 {
    background-position: -610px -610px;
}

.eb-C_3 {
    background-position: -770px -578px;
}

.eb-Circuit_1 {
    background-position: -738px -578px;
}

.eb-Cocoa_1 {
    background-position: -706px -578px;
}

.eb-ComputerGraphics_1 {
    background-position: -674px -578px;
}

.eb-ComputerGraphics_2 {
    background-position: -642px -578px;
}

.eb-ComputerGraphics_3 {
    background-position: -610px -578px;
}

.eb-CustomerService_1 {
    background-position: -578px -770px;
}

.eb-CustomerService_2 {
    background-position: -578px -738px;
}

.eb-CustomerService_3 {
    background-position: -578px -706px;
}

.eb-data_entry_1 {
    background-position: -706px -706px;
}

.eb-Delphi_1 {
    background-position: -578px -674px;
}

.eb-DigitalElectronics_1 {
    background-position: -578px -642px;
}

.eb-DigitalElectronics_2 {
    background-position: -578px -610px;
}

.eb-DigitalElectronics_3 {
    background-position: -578px -578px;
}

.eb-Drupal_1 {
    background-position: -770px -546px;
}

.eb-English-Language01 {
    background-position: -738px -546px;
}

.eb-English-Language02 {
    background-position: -706px -546px;
}

.eb-English-Language03 {
    background-position: -674px -546px;
}

.eb-Freemarket-FM {
    background-position: -642px -546px;
}

.eb-GAAP {
    background-position: -610px -546px;
}

.eb-GoogleAnalytics_1 {
    background-position: -578px -546px;
}

.eb-GoogleAnalytics_2 {
    background-position: -546px -770px;
}

.eb-GoogleAnalytics_3 {
    background-position: -546px -738px;
}

.eb-Google_Webmaster_Central_1 {
    background-position: -546px -706px;
}

.eb-Google_Website_Optimizer_1 {
    background-position: -546px -674px;
}

.eb-Linux_Kernel_1 {
    background-position: -546px -642px;
}

.eb-Linux_Kernel_2 {
    background-position: -546px -610px;
}

.eb-Linux_Kernel_3 {
    background-position: -546px -578px;
}

.eb-Magento_1 {
    background-position: -546px -546px;
}

.eb-Magento_2 {
    background-position: -770px -514px;
}

.eb-Magento_3 {
    background-position: -738px -514px;
}

.eb-OpenGL_1 {
    background-position: -706px -514px;
}

.eb-PS4_1 {
    background-position: -674px -514px;
}

.eb-PS4_2 {
    background-position: -642px -514px;
}

.eb-PS4_3 {
    background-position: -610px -514px;
}

.eb-PaypalAPI_1 {
    background-position: -578px -514px;
}

.eb-Perl5_1 {
    background-position: -546px -514px;
}

.eb-Perl5_2 {
    background-position: -514px -770px;
}

.eb-Perl5_3 {
    background-position: -514px -738px;
}

.eb-Python_1 {
    background-position: -514px -706px;
}

.eb-QuickBooks_1 {
    background-position: -514px -674px;
}

.eb-SEM_1 {
    background-position: -514px -642px;
}

.eb-SEM_2 {
    background-position: -514px -610px;
}

.eb-SEM_3 {
    background-position: -514px -578px;
}

.eb-SEO_1 {
    background-position: -514px -546px;
}

.eb-SEO_2 {
    background-position: -514px -514px;
}

.eb-SEO_3 {
    background-position: -770px -482px;
}

.eb-SQL_1 {
    background-position: -738px -482px;
}

.eb-SQL_2 {
    background-position: -706px -482px;
}

.eb-SQL_3 {
    background-position: -674px -482px;
}

.eb-SocialEngine {
    background-position: -642px -482px;
}

.eb-Statistics {
    background-position: -610px -482px;
}

.eb-Symbian_1 {
    background-position: -578px -482px;
}

.eb-Twitter_Developing_1 {
    background-position: -546px -482px;
}

.eb-UKmember {
    background-position: -514px -482px;
}

.eb-VLSI_1 {
    background-position: -482px -770px;
}

.eb-VLSI_2 {
    background-position: -482px -738px;
}

.eb-VLSI_3 {
    background-position: -482px -706px;
}

.eb-Visual_Basic_1 {
    background-position: -482px -674px;
}

.eb-WordPress {
    background-position: -482px -642px;
}

.eb-XML_1 {
    background-position: -482px -610px;
}

.eb-XML_2 {
    background-position: -482px -578px;
}

.eb-XML_3 {
    background-position: -482px -546px;
}

.eb-Zencart_1 {
    background-position: -482px -514px;
}

.eb-academic_wr {
    background-position: -482px -482px;
}

.eb-academic_wr_2 {
    background-position: -770px -450px;
}

.eb-academic_wr_3 {
    background-position: -738px -450px;
}

.eb-accounting_1 {
    background-position: -706px -450px;
}

.eb-accounting_2 {
    background-position: -674px -450px;
}

.eb-accounting_3 {
    background-position: -642px -450px;
}

.eb-actionscript-3-1 {
    background-position: -610px -450px;
}

.eb-actionscript-3-2 {
    background-position: -578px -450px;
}

.eb-actionscript-3-3 {
    background-position: -546px -450px;
}

.eb-admin {
    background-position: -514px -450px;
}

.eb-adobe_flex {
    background-position: -482px -450px;
}

.eb-adodotnet-1 {
    background-position: -450px -770px;
}

.eb-adodotnet-2 {
    background-position: -450px -738px;
}

.eb-adodotnet-3 {
    background-position: -450px -706px;
}

.eb-adv_logic_1 {
    background-position: -450px -674px;
}

.eb-adwords-api-1 {
    background-position: -450px -642px;
}

.eb-adwords-api-2 {
    background-position: -450px -610px;
}

.eb-adwords-api-3 {
    background-position: -450px -578px;
}

.eb-ai {
    background-position: -450px -450px;
}

.eb-ai-cs5-1 {
    background-position: -450px -546px;
}

.eb-ai-cs5-2 {
    background-position: -450px -514px;
}

.eb-ai-cs5-3 {
    background-position: -450px -482px;
}

.eb-algorithms_1 {
    background-position: -770px -418px;
}

.eb-algorithms_2 {
    background-position: -738px -418px;
}

.eb-algorithms_3 {
    background-position: -706px -418px;
}

.eb-android_1 {
    background-position: -674px -418px;
}

.eb-android_2 {
    background-position: -642px -418px;
}

.eb-android_3 {
    background-position: -610px -418px;
}

.eb-ant-1 {
    background-position: -578px -418px;
}

.eb-ant-2 {
    background-position: -546px -418px;
}

.eb-ant-3 {
    background-position: -514px -418px;
}

.eb-apache-1 {
    background-position: -482px -418px;
}

.eb-apache-2 {
    background-position: -450px -418px;
}

.eb-apache-3 {
    background-position: -418px -770px;
}

.eb-apicontest {
    background-position: -418px -738px;
}

.eb-applescript-1 {
    background-position: -418px -706px;
}

.eb-applescript-2 {
    background-position: -418px -674px;
}

.eb-applescript-3 {
    background-position: -418px -642px;
}

.eb-asp_1 {
    background-position: -418px -610px;
}

.eb-asp_2 {
    background-position: -418px -578px;
}

.eb-asp_3 {
    background-position: -418px -546px;
}

.eb-atompub-1 {
    background-position: -418px -514px;
}

.eb-author_1 {
    background-position: -418px -482px;
}

.eb-author_2 {
    background-position: -418px -450px;
}

.eb-author_3 {
    background-position: -418px -418px;
}

.eb-badge-2nd-trophy2 {
    background-position: -770px -386px;
}

.eb-badge-2nd-tshirt2 {
    background-position: -738px -386px;
}

.eb-badge-3rd-trophy2 {
    background-position: -706px -386px;
}

.eb-badge-3rd-tshirt2 {
    background-position: -674px -386px;
}

.eb-badge-peopleschoice {
    background-position: -642px -386px;
}

.eb-badge-trophy2 {
    background-position: -610px -386px;
}

.eb-badge-tshirt2 {
    background-position: -578px -386px;
}

.eb-best-design-2013 {
    background-position: -546px -386px;
}

.eb-blackberry {
    background-position: -450px -386px;
}

.eb-blackberry-2 {
    background-position: -514px -386px;
}

.eb-blackberry-3 {
    background-position: -482px -386px;
}

.eb-blogger-api-1 {
    background-position: -418px -386px;
}

.eb-blogger-api-2 {
    background-position: -386px -770px;
}

.eb-blogger-api-3 {
    background-position: -386px -738px;
}

.eb-blogging-1 {
    background-position: -386px -706px;
}

.eb-blogging-2 {
    background-position: -386px -674px;
}

.eb-blogging-3 {
    background-position: -386px -642px;
}

.eb-bug-squisher {
    background-position: -386px -610px;
}

.eb-c-plusplus-prog-1 {
    background-position: -386px -578px;
}

.eb-c-plusplus-prog-2 {
    background-position: -386px -546px;
}

.eb-c-plusplus-prog-3 {
    background-position: -386px -514px;
}

.eb-c-prog-1 {
    background-position: -386px -482px;
}

.eb-c-prog-2 {
    background-position: -386px -450px;
}

.eb-c-prog-3 {
    background-position: -386px -418px;
}

.eb-c-sharp-prog-1 {
    background-position: -386px -386px;
}

.eb-c-sharp-prog-2 {
    background-position: -770px -354px;
}

.eb-c-sharp-prog-3 {
    background-position: -738px -354px;
}

.eb-cHash-prog-1 {
    background-position: -386px -386px;
}

.eb-cHash-prog-2 {
    background-position: -770px -354px;
}

.eb-cHash-prog-3 {
    background-position: -738px -354px;
}

.eb-cgi-1 {
    background-position: -706px -354px;
}

.eb-cgi-2 {
    background-position: -674px -354px;
}

.eb-cgi-3 {
    background-position: -642px -354px;
}

.eb-circuit-design {
    background-position: -610px -354px;
}

.eb-cloud-comp-1 {
    background-position: -578px -354px;
}

.eb-cloud-comp-2 {
    background-position: -546px -354px;
}

.eb-cloud-comp-3 {
    background-position: -514px -354px;
}

.eb-cobol {
    background-position: -482px -354px;
}

.eb-coldfusion {
    background-position: -450px -354px;
}

.eb-comp_sec {
    background-position: -418px -354px;
}

.eb-comp_sec2 {
    background-position: -386px -354px;
}

.eb-comp_sec3 {
    background-position: -354px -770px;
}

.eb-compiler_design {
    background-position: -354px -738px;
}

.eb-computer_security_1 {
    background-position: -354px -706px;
}

.eb-computer_security_2 {
    background-position: -354px -674px;
}

.eb-computer_security_3 {
    background-position: -354px -642px;
}

.eb-cplusplus_1 {
    background-position: -354px -610px;
}

.eb-cplusplus_2 {
    background-position: -354px -578px;
}

.eb-cplusplus_3 {
    background-position: -354px -546px;
}

.eb-csharp_1 {
    background-position: -354px -514px;
}

.eb-csharp_2 {
    background-position: -354px -482px;
}

.eb-csharp_3 {
    background-position: -354px -450px;
}

.eb-css_1 {
    background-position: -674px -674px;
}

.eb-danish-1 {
    background-position: -354px -418px;
}

.eb-danish-2 {
    background-position: -354px -386px;
}

.eb-danish-3 {
    background-position: -354px -354px;
}

.eb-danish-eng {
    background-position: -770px -322px;
}

.eb-dart-1 {
    background-position: -738px -322px;
}

.eb-dart-2 {
    background-position: -706px -322px;
}

.eb-dart-3 {
    background-position: -674px -322px;
}

.eb-datastructures {
    background-position: -642px -322px;
}

.eb-digital-img-proc {
    background-position: -610px -322px;
}

.eb-dns-bind-1 {
    background-position: -578px -322px;
}

.eb-dns-bind-2 {
    background-position: -546px -322px;
}

.eb-dns-bind-3 {
    background-position: -514px -322px;
}

.eb-domino-des-1 {
    background-position: -482px -322px;
}

.eb-domino-des-2 {
    background-position: -450px -322px;
}

.eb-domino-des-3 {
    background-position: -738px -642px;
    height: 25px;
    width: 25px;
}

.eb-dotnet_1 {
    background-position: -418px -322px;
}

.eb-dotnet_2 {
    background-position: -386px -322px;
}

.eb-dotnet_3 {
    background-position: -354px -322px;
}

.eb-dotnetnuke-1 {
    background-position: -322px -770px;
}

.eb-dotnetnuke-2 {
    background-position: -322px -738px;
}

.eb-dotnetnuke-3 {
    background-position: -322px -706px;
}

.eb-dreamweaver_1 {
    background-position: -322px -674px;
}

.eb-dreamweaver_2 {
    background-position: -322px -642px;
}

.eb-dreamweaver_3 {
    background-position: -322px -610px;
}

.eb-dsp {
    background-position: -322px -578px;
}

.eb-dutch-1 {
    background-position: -322px -546px;
}

.eb-dutch-2 {
    background-position: -322px -514px;
}

.eb-dutch-3 {
    background-position: -322px -482px;
}

.eb-dutch-eng {
    background-position: -322px -450px;
}

.eb-embedded-sys {
    background-position: -322px -418px;
}

.eb-employer_orientation {
    background-position: -322px -386px;
}

.eb-english_1 {
    background-position: -674px -546px;
}

.eb-english_2 {
    background-position: -706px -546px;
}

.eb-english_3 {
    background-position: -738px -546px;
}

.eb-errorchecking_1 {
    background-position: -322px -354px;
}

.eb-errorchecking_2 {
    background-position: -322px -322px;
}

.eb-errorchecking_3 {
    background-position: -770px -290px;
}

.eb-ethernet-admin-1 {
    background-position: -738px -290px;
}

.eb-ethernet-admin-2 {
    background-position: -706px -290px;
}

.eb-ethernet-admin-3 {
    background-position: -674px -290px;
}

.eb-eufreelance {
    background-position: -642px -290px;
}

.eb-facebook-api-1 {
    background-position: -610px -290px;
}

.eb-facebook-api-2 {
    background-position: -578px -290px;
}

.eb-facebook-api-3 {
    background-position: -546px -290px;
}

.eb-facebookdev {
    background-position: -514px -290px;
}

.eb-factor-1 {
    background-position: -482px -290px;
}

.eb-factor-2 {
    background-position: -450px -290px;
}

.eb-factor-3 {
    background-position: -418px -290px;
}

.eb-fastcgi-1 {
    background-position: -386px -290px;
}

.eb-fastcgi-2 {
    background-position: -354px -290px;
}

.eb-fastcgi-3 {
    background-position: -322px -290px;
}

.eb-filipino-1 {
    background-position: -290px -770px;
}

.eb-filipino-2 {
    background-position: -290px -738px;
}

.eb-filipino-3 {
    background-position: -290px -706px;
}

.eb-filipino-eng {
    background-position: -290px -674px;
}

.eb-fireworks_1 {
    background-position: -290px -642px;
}

.eb-fireworks_2 {
    background-position: -290px -610px;
}

.eb-fireworks_3 {
    background-position: -290px -578px;
}

.eb-flash-cs5-1 {
    background-position: -290px -546px;
}

.eb-flash-cs5-2 {
    background-position: -290px -514px;
}

.eb-flash-cs5-3 {
    background-position: -290px -482px;
}

.eb-flash_1 {
    background-position: -290px -450px;
}

.eb-flash_2 {
    background-position: -290px -418px;
}

.eb-flash_3 {
    background-position: -290px -386px;
}

.eb-for-employer {
    background-position: -290px -354px;
}

.eb-for-freelancer {
    background-position: -290px -322px;
}

.eb-for_GAF01 {
    background-position: -290px -290px;
}

.eb-for_GAF02 {
    background-position: -770px -258px;
}

.eb-fortran-1 {
    background-position: -738px -258px;
}

.eb-fortran-2 {
    background-position: -706px -258px;
}

.eb-fortran-3 {
    background-position: -674px -258px;
}

.eb-foundation_shareholder {
    background-position: -642px -258px;
}

.eb-freelancer-black {
    background-position: -770px -258px;
}

.eb-freelancer-white {
    background-position: -290px -290px;
}

.eb-freelancer_orientation {
    background-position: -610px -258px;
}

.eb-freelancerde {
    background-position: -578px -258px;
}

.eb-french-1 {
    background-position: -546px -258px;
}

.eb-french-2 {
    background-position: -514px -258px;
}

.eb-french-3 {
    background-position: -482px -258px;
}

.eb-frn-eng {
    background-position: -450px -258px;
}

.eb-game-physics-1 {
    background-position: -418px -258px;
}

.eb-game-physics-2 {
    background-position: -386px -258px;
}

.eb-game-physics-3 {
    background-position: -354px -258px;
}

.eb-general_orientation {
    background-position: -322px -258px;
}

.eb-ger-eng {
    background-position: -290px -258px;
}

.eb-german-1 {
    background-position: -258px -770px;
}

.eb-german-2 {
    background-position: -258px -738px;
}

.eb-german-3 {
    background-position: -258px -706px;
}

.eb-google-analytics {
    background-position: -258px -674px;
}

.eb-google-app-engine {
    background-position: -258px -642px;
}

.eb-google-apps-script-1 {
    background-position: -258px -610px;
}

.eb-google-apps-script-2 {
    background-position: -258px -578px;
}

.eb-google-apps-script-3 {
    background-position: -258px -546px;
}

.eb-google-checkout-1 {
    background-position: -258px -514px;
}

.eb-google-checkout-2 {
    background-position: -258px -482px;
}

.eb-google-checkout-3 {
    background-position: -258px -450px;
}

.eb-google-cloud-storage-1 {
    background-position: -258px -418px;
}

.eb-google-cloud-storage-2 {
    background-position: -258px -386px;
}

.eb-google-cloud-storage-3 {
    background-position: -258px -354px;
}

.eb-google-custom-search-1 {
    background-position: -258px -322px;
}

.eb-google-custom-search-2 {
    background-position: -258px -290px;
}

.eb-google-custom-search-3 {
    background-position: -258px -258px;
}

.eb-google-drive-1 {
    background-position: -770px -226px;
}

.eb-google-drive-2 {
    background-position: -738px -226px;
}

.eb-google-drive-3 {
    background-position: -706px -226px;
}

.eb-google-feed-api {
    background-position: -674px -226px;
}

.eb-google-maps-api-1 {
    background-position: -642px -226px;
}

.eb-google-maps-api-2 {
    background-position: -610px -226px;
}

.eb-google-maps-api-3 {
    background-position: -578px -226px;
}

.eb-google-storage-1 {
    background-position: -546px -226px;
}

.eb-google-storage-2 {
    background-position: -514px -226px;
}

.eb-google-storage-3 {
    background-position: -482px -226px;
}

.eb-google-w-c {
    background-position: -450px -226px;
}

.eb-googlecheckout-api-1 {
    background-position: -418px -226px;
}

.eb-googlecheckout-api-2 {
    background-position: -386px -226px;
}

.eb-googlecheckout-api-3 {
    background-position: -354px -226px;
}

.eb-googlewave {
    background-position: -322px -226px;
}

.eb-grammar_1 {
    background-position: -290px -226px;
}

.eb-grammar_2 {
    background-position: -258px -226px;
}

.eb-grammar_3 {
    background-position: -226px -770px;
}

.eb-haskell-1 {
    background-position: -226px -738px;
}

.eb-haskell-2 {
    background-position: -226px -706px;
}

.eb-haskell-3 {
    background-position: -226px -674px;
}

.eb-html-basic-2 {
    background-position: -226px -642px;
}

.eb-html-basic-3 {
    background-position: -226px -610px;
}

.eb-html4 {
    background-position: -226px -578px;
}

.eb-html5 {
    background-position: -226px -290px;
}

.eb-html5-basic-1 {
    background-position: -226px -546px;
}

.eb-html5-geolcation-1 {
    background-position: -226px -514px;
}

.eb-html5-geolocation-2 {
    background-position: -226px -482px;
}

.eb-html5-geolocation-3 {
    background-position: -226px -450px;
}

.eb-html5-impact-1 {
    background-position: -226px -418px;
}

.eb-html5-media-1 {
    background-position: -226px -386px;
}

.eb-html5-media-2 {
    background-position: -226px -354px;
}

.eb-html5-websockets-1 {
    background-position: -226px -322px;
}

.eb-html_1 {
    background-position: -226px -258px;
}

.eb-html_2 {
    background-position: -226px -226px;
}

.eb-html_3 {
    background-position: -770px -194px;
}

.eb-http {
    background-position: -738px -194px;
}

.eb-iPhone_Development_1 {
    background-position: -706px -194px;
}

.eb-iPhone_Development_2 {
    background-position: -674px -194px;
}

.eb-iPhone_Development_3 {
    background-position: -642px -194px;
}

.eb-illustrator_1 {
    background-position: -610px -194px;
}

.eb-illustrator_2 {
    background-position: -578px -194px;
}

.eb-illustrator_3 {
    background-position: -546px -194px;
}

.eb-impact-1 {
    background-position: -514px -194px;
}

.eb-impact-2 {
    background-position: -482px -194px;
}

.eb-impact-3 {
    background-position: -450px -194px;
}

.eb-indesign_1 {
    background-position: -418px -194px;
}

.eb-indesign_2 {
    background-position: -386px -194px;
}

.eb-indesign_3 {
    background-position: -354px -194px;
}

.eb-indonesian-1 {
    background-position: -322px -194px;
}

.eb-indonesian-2 {
    background-position: -290px -194px;
}

.eb-indonesian-3 {
    background-position: -258px -194px;
}

.eb-indonesian-eng {
    background-position: -226px -194px;
}

.eb-iphone_1 {
    background-position: -706px -194px;
}

.eb-iphone_2 {
    background-position: -674px -194px;
}

.eb-iphone_3 {
    background-position: -642px -194px;
}

.eb-iso9001 {
    background-position: -194px -770px;
}

.eb-italian-1 {
    background-position: -194px -738px;
}

.eb-italian-2 {
    background-position: -194px -706px;
}

.eb-italian-3 {
    background-position: -194px -674px;
}

.eb-italian-eng {
    background-position: -194px -642px;
}

.eb-java-ee-6-1 {
    background-position: -194px -610px;
}

.eb-java-ee-6-2 {
    background-position: -194px -578px;
}

.eb-java-ee-6-3 {
    background-position: -194px -546px;
}

.eb-java_1 {
    background-position: -194px -514px;
}

.eb-java_2 {
    background-position: -194px -482px;
}

.eb-java_3 {
    background-position: -194px -450px;
}

.eb-javascript_1 {
    background-position: -194px -418px;
}

.eb-javascript_2 {
    background-position: -194px -386px;
}

.eb-javascript_3 {
    background-position: -194px -354px;
}

.eb-joomla-1 {
    background-position: -194px -322px;
}

.eb-joomla-2 {
    background-position: -194px -290px;
}

.eb-joomla-3 {
    background-position: -194px -258px;
}

.eb-jquery-1 {
    background-position: -194px -226px;
}

.eb-jquery-2 {
    background-position: -194px -194px;
}

.eb-jquery-3 {
    background-position: -770px -162px;
}

.eb-kerberos1 {
    background-position: -738px -162px;
}

.eb-kerberos2 {
    background-position: -706px -162px;
}

.eb-kerberos3 {
    background-position: -674px -162px;
}

.eb-lex-yacc-1 {
    background-position: -642px -162px;
}

.eb-lex-yacc-2 {
    background-position: -610px -162px;
}

.eb-lex-yacc-3 {
    background-position: -578px -162px;
}

.eb-limeexchange {
    background-position: -546px -162px;
}

.eb-linq {
    background-position: -418px -162px;
}

.eb-linq-1 {
    background-position: -514px -162px;
}

.eb-linq-2 {
    background-position: -482px -162px;
}

.eb-linq-3 {
    background-position: -450px -162px;
}

.eb-linux_1 {
    background-position: -386px -162px;
}

.eb-linux_2 {
    background-position: -354px -162px;
}

.eb-linux_3 {
    background-position: -322px -162px;
}

.eb-lisp {
    background-position: -290px -162px;
}

.eb-logo-g {
    background-position: -258px -162px;
}

.eb-logo-m {
    background-position: -226px -162px;
}

.eb-logo-s {
    background-position: -194px -162px;
}

.eb-logo_1 {
    background-position: -194px -162px;
}

.eb-logo_2 {
    background-position: -226px -162px;
}

.eb-logo_3 {
    background-position: -258px -162px;
}

.eb-lotus-domino-admin-1 {
    background-position: -162px -770px;
}

.eb-lotus-domino-admin-2 {
    background-position: -162px -738px;
}

.eb-lotus-domino-admin-3 {
    background-position: -162px -706px;
}

.eb-lotus-formula-language-1 {
    background-position: -162px -674px;
}

.eb-lotus-formula-language-2 {
    background-position: -162px -642px;
}

.eb-lotus-formula-language-3 {
    background-position: -162px -610px;
}

.eb-lotus-notes_user-1 {
    background-position: -162px -578px;
}

.eb-lotus-notes_user-2 {
    background-position: -162px -546px;
}

.eb-lotus-notes_user-3 {
    background-position: -162px -514px;
}

.eb-lotusscript-1 {
    background-position: -162px -482px;
}

.eb-lotusscript-2 {
    background-position: -162px -450px;
}

.eb-lotusscript-3 {
    background-position: -162px -418px;
}

.eb-macOS_1 {
    background-position: -162px -386px;
}

.eb-marketer1_1 {
    background-position: -162px -354px;
}

.eb-marketer1_2 {
    background-position: -162px -322px;
}

.eb-marketer1_3 {
    background-position: -162px -290px;
}

.eb-marketer_1 {
    background-position: -162px -258px;
}

.eb-marketer_2 {
    background-position: -162px -226px;
}

.eb-marketer_3 {
    background-position: -162px -194px;
}

.eb-master_graphic_designer {
    background-position: -162px -162px;
}

.eb-maya_1 {
    background-position: -770px -130px;
}

.eb-maya_2 {
    background-position: -738px -130px;
}

.eb-maya_3 {
    background-position: -706px -130px;
}

.eb-ms-azure {
    background-position: -610px -130px;
}

.eb-ms-azure-2 {
    background-position: -674px -130px;
}

.eb-ms-azure-3 {
    background-position: -642px -130px;
}

.eb-ms-pp-2010-1 {
    background-position: -578px -130px;
}

.eb-ms-pp-2010-2 {
    background-position: -546px -130px;
}

.eb-ms-pp-2010-3 {
    background-position: -514px -130px;
}

.eb-ms-publisher-2010-1 {
    background-position: -482px -130px;
}

.eb-ms-publisher-2010-2 {
    background-position: -450px -130px;
}

.eb-ms-publisher-2010-3 {
    background-position: -418px -130px;
}

.eb-msaccess-1 {
    background-position: -386px -130px;
}

.eb-msaccess-2 {
    background-position: -354px -130px;
}

.eb-msaccess-3 {
    background-position: -322px -130px;
}

.eb-msproject-1 {
    background-position: -290px -130px;
}

.eb-msproject-2 {
    background-position: -258px -130px;
}

.eb-msproject-3 {
    background-position: -226px -130px;
}

.eb-mysql-1 {
    background-position: -194px -130px;
}

.eb-mysql-2 {
    background-position: -162px -130px;
}

.eb-mysql-3 {
    background-position: -130px -770px;
}

.eb-net-prog-1 {
    background-position: -130px -738px;
}

.eb-net-prog-2 {
    background-position: -130px -706px;
}

.eb-net-prog-3 {
    background-position: -130px -674px;
}

.eb-nginx-1 {
    background-position: -130px -642px;
}

.eb-nginx-2 {
    background-position: -130px -610px;
}

.eb-nginx-3 {
    background-position: -130px -578px;
}

.eb-nor-eng {
    background-position: -130px -546px;
}

.eb-norweg-1 {
    background-position: -130px -514px;
}

.eb-norweg-2 {
    background-position: -130px -482px;
}

.eb-norweg-3 {
    background-position: -130px -450px;
}

.eb-ntl-badge {
    background-position: -770px -642px;
}

.eb-nubelo {
    background-position: -706px -674px;
}

.eb-numeracy_1 {
    background-position: -130px -418px;
}

.eb-oauth-1 {
    background-position: -130px -386px;
}

.eb-oauth-2 {
    background-position: -130px -354px;
}

.eb-oauth-3 {
    background-position: -130px -322px;
}

.eb-oauth-v2-1 {
    background-position: -130px -290px;
}

.eb-oauth-v2-2 {
    background-position: -130px -258px;
}

.eb-oauth-v2-3 {
    background-position: -130px -226px;
}

.eb-obj-c-1 {
    background-position: -130px -194px;
}

.eb-obj-c-2 {
    background-position: -130px -162px;
}

.eb-obj-c-3 {
    background-position: -130px -130px;
}

.eb-odata-1 {
    background-position: -770px -98px;
}

.eb-opensocial {
    background-position: -738px -98px;
}

.eb-openssl-1 {
    background-position: -706px -98px;
}

.eb-openssl-2 {
    background-position: -674px -98px;
}

.eb-openssl-3 {
    background-position: -642px -98px;
}

.eb-openstack-1 {
    background-position: -610px -98px;
}

.eb-openstack-2 {
    background-position: -578px -98px;
}

.eb-openstack-3 {
    background-position: -546px -98px;
}

.eb-oracle10g {
    background-position: -514px -98px;
}

.eb-oracle10g_1 {
    background-position: -482px -98px;
}

.eb-oracle10g_2 {
    background-position: -450px -98px;
}

.eb-oracle10g_3 {
    background-position: -418px -98px;
}

.eb-oraclesql-1 {
    background-position: -386px -98px;
}

.eb-oraclesql-2 {
    background-position: -354px -98px;
}

.eb-oraclesql-3 {
    background-position: -322px -98px;
}

.eb-papervision3d {
    background-position: -290px -98px;
}

.eb-phonegap-1 {
    background-position: -258px -98px;
}

.eb-phonegap-2 {
    background-position: -226px -98px;
}

.eb-phonegap-3 {
    background-position: -194px -98px;
}

.eb-php5-1 {
    background-position: -162px -98px;
}

.eb-php5-2 {
    background-position: -130px -98px;
}

.eb-php5-3 {
    background-position: -98px -770px;
}

.eb-php_1 {
    background-position: -98px -738px;
}

.eb-php_2 {
    background-position: -98px -706px;
}

.eb-php_3 {
    background-position: -98px -674px;
}

.eb-port-eng {
    background-position: -98px -642px;
}

.eb-portugese-1 {
    background-position: -98px -610px;
}

.eb-portugese-2 {
    background-position: -98px -578px;
}

.eb-portugese-3 {
    background-position: -98px -546px;
}

.eb-postgresql {
    background-position: -98px -514px;
}

.eb-postscript-1 {
    background-position: -98px -482px;
}

.eb-postscript-2 {
    background-position: -98px -450px;
}

.eb-postscript-3 {
    background-position: -98px -418px;
}

.eb-programmer01 {
    background-position: -98px -386px;
}

.eb-programmer02 {
    background-position: -98px -354px;
}

.eb-programmer03 {
    background-position: -98px -322px;
}

.eb-programmer_1 {
    background-position: -98px -322px;
}

.eb-programmer_2 {
    background-position: -98px -354px;
}

.eb-programmer_3 {
    background-position: -98px -386px;
}

.eb-prolog-1 {
    background-position: -98px -290px;
}

.eb-prolog-2 {
    background-position: -98px -258px;
}

.eb-prolog-3 {
    background-position: -98px -226px;
}

.eb-prototype-1 {
    background-position: -98px -194px;
}

.eb-prototype-2 {
    background-position: -98px -162px;
}

.eb-prototype-3 {
    background-position: -98px -130px;
}

.eb-ps-cs5-1 {
    background-position: -98px -98px;
}

.eb-ps-cs5-2 {
    background-position: -770px -66px;
}

.eb-ps-cs5-3 {
    background-position: -738px -66px;
}

.eb-python-1 {
    background-position: -706px -66px;
}

.eb-python-2 {
    background-position: -674px -66px;
}

.eb-python-3 {
    background-position: -642px -66px;
}

.eb-quartermaster {
    background-position: -610px -66px;
}

.eb-rdf {
    background-position: -578px -66px;
}

.eb-redis-1 {
    background-position: -546px -66px;
}

.eb-redis-2 {
    background-position: -514px -66px;
}

.eb-redis-3 {
    background-position: -482px -66px;
}

.eb-reg_exp {
    background-position: -450px -66px;
}

.eb-req-eng-1 {
    background-position: -418px -66px;
}

.eb-req-eng-2 {
    background-position: -386px -66px;
}

.eb-req-eng-3 {
    background-position: -354px -66px;
}

.eb-rest {
    background-position: -322px -66px;
}

.eb-ror_1 {
    background-position: -290px -66px;
}

.eb-ror_2 {
    background-position: -258px -66px;
}

.eb-ror_3 {
    background-position: -226px -66px;
}

.eb-ruby {
    background-position: -162px -66px;
}

.eb-ruby-on-rails {
    background-position: -194px -66px;
}

.eb-scav-hunt-2012 {
    background-position: -66px -738px;
}

.eb-scav-hunt-2012-1st {
    background-position: -130px -66px;
}

.eb-scav-hunt-2012-2nd {
    background-position: -98px -66px;
}

.eb-scav-hunt-2012-3rd {
    background-position: -66px -770px;
}

.eb-scheme-1 {
    background-position: -66px -706px;
}

.eb-scheme-2 {
    background-position: -66px -674px;
}

.eb-scheme-3 {
    background-position: -66px -642px;
}

.eb-scriptlance {
    background-position: -66px -610px;
}

.eb-sed-awk-1 {
    background-position: -66px -578px;
}

.eb-sed-awk-2 {
    background-position: -66px -546px;
}

.eb-sed-awk-3 {
    background-position: -66px -514px;
}

.eb-semiconductor_electronics {
    background-position: -66px -482px;
}

.eb-semiconductor_electronics_1 {
    background-position: -66px -450px;
}

.eb-semiconductor_electronics_2 {
    background-position: -66px -418px;
}

.eb-semiconductor_electronics_3 {
    background-position: -66px -482px;
}

.eb-sharepoint-1 {
    background-position: -66px -386px;
}

.eb-sharepoint-2 {
    background-position: -66px -354px;
}

.eb-sharepoint-3 {
    background-position: -66px -322px;
}

.eb-sharepoint2010-1 {
    background-position: -66px -290px;
}

.eb-sharepoint2010-2 {
    background-position: -66px -258px;
}

.eb-sharepoint2010-3 {
    background-position: -66px -226px;
}

.eb-shell-script {
    background-position: -66px -194px;
}

.eb-shellscript_1 {
    background-position: -66px -162px;
}

.eb-shellscript_2 {
    background-position: -66px -130px;
}

.eb-shellscript_3 {
    background-position: -66px -98px;
}

.eb-small_talk_1 {
    background-position: -66px -66px;
}

.eb-smalltalk {
    background-position: -770px -34px;
}

.eb-span-eng {
    background-position: -738px -34px;
}

.eb-spanish-1 {
    background-position: -706px -34px;
}

.eb-spanish-2 {
    background-position: -674px -34px;
}

.eb-spanish-3 {
    background-position: -642px -34px;
}

.eb-sql-server-1 {
    background-position: -610px -34px;
}

.eb-sql-server-2 {
    background-position: -578px -34px;
}

.eb-sql-server-3 {
    background-position: -546px -34px;
}

.eb-sqlite-1 {
    background-position: -514px -34px;
}

.eb-sqlite-2 {
    background-position: -482px -34px;
}

.eb-sqlite-3 {
    background-position: -450px -34px;
}

.eb-squid-1 {
    background-position: -418px -34px;
}

.eb-squid-2 {
    background-position: -386px -34px;
}

.eb-squid-3 {
    background-position: -354px -34px;
}

.eb-subversion-1 {
    background-position: -322px -34px;
}

.eb-subversion-2 {
    background-position: -290px -34px;
}

.eb-subversion-3 {
    background-position: -258px -34px;
}

.eb-swed-eng {
    background-position: -226px -34px;
}

.eb-swedish-1 {
    background-position: -194px -34px;
}

.eb-swedish-2 {
    background-position: -162px -34px;
}

.eb-swedish-3 {
    background-position: -130px -34px;
}

.eb-tcp-ip {
    background-position: -98px -34px;
}

.eb-telephone_1 {
    background-position: -66px -34px;
}

.eb-telephone_2 {
    background-position: -34px -770px;
}

.eb-telephone_3 {
    background-position: -34px -738px;
}

.eb-turkish-1 {
    background-position: -34px -706px;
}

.eb-turkish-2 {
    background-position: -34px -674px;
}

.eb-turkish-3 {
    background-position: -34px -642px;
}

.eb-turkish-eng {
    background-position: -34px -610px;
}

.eb-twitter-api-1 {
    background-position: -34px -578px;
}

.eb-twitter-api-2 {
    background-position: -34px -546px;
}

.eb-twitter-api-3 {
    background-position: -34px -514px;
}

.eb-tycoontalk {
    background-position: -34px -482px;
}

.eb-uk_english1 {
    background-position: -34px -450px;
}

.eb-uk_english2 {
    background-position: -34px -418px;
}

.eb-uml-1 {
    background-position: -34px -386px;
}

.eb-uml-2 {
    background-position: -34px -354px;
}

.eb-uml-3 {
    background-position: -34px -322px;
}

.eb-unix_1 {
    background-position: -34px -290px;
}

.eb-unix_2 {
    background-position: -34px -258px;
}

.eb-unix_3 {
    background-position: -34px -226px;
}

.eb-us_eng_1 {
    background-position: -34px -194px;
}

.eb-us_eng_2 {
    background-position: -34px -162px;
}

.eb-us_eng_3 {
    background-position: -34px -130px;
}

.eb-usb-elect {
    background-position: -34px -98px;
}

.eb-vb1 {
    background-position: -34px -66px;
}

.eb-vb2 {
    background-position: -34px -34px;
}

.eb-vb3 {
    background-position: -770px -2px;
}

.eb-vb6-1 {
    background-position: -738px -2px;
}

.eb-vb6-2 {
    background-position: -706px -2px;
}

.eb-vb6-3 {
    background-position: -674px -2px;
}

.eb-vbscript-1 {
    background-position: -642px -2px;
}

.eb-vbscript-2 {
    background-position: -610px -2px;
}

.eb-vbscript-3 {
    background-position: -578px -2px;
}

.eb-video_1 {
    background-position: -546px -2px;
}

.eb-video_2 {
    background-position: -514px -2px;
}

.eb-video_3 {
    background-position: -482px -2px;
}

.eb-vorbis-1 {
    background-position: -450px -2px;
}

.eb-vorbis-2 {
    background-position: -418px -2px;
}

.eb-vorbis-3 {
    background-position: -386px -2px;
}

.eb-vpn-1 {
    background-position: -354px -2px;
}

.eb-vpn-2 {
    background-position: -322px -2px;
}

.eb-vpn-3 {
    background-position: -290px -2px;
}

.eb-vworker {
    background-position: -258px -2px;
}

.eb-web_1 {
    background-position: -226px -2px;
}

.eb-web_2 {
    background-position: -194px -2px;
}

.eb-web_3 {
    background-position: -162px -2px;
}

.eb-windows-phone {
    background-position: -66px -2px;
}

.eb-windows-phone-2 {
    background-position: -130px -2px;
}

.eb-windows-phone-3 {
    background-position: -98px -2px;
}

.eb-winner1 {
    background-position: -34px -2px;
}

.eb-winner2 {
    background-position: -2px -770px;
}

.eb-winner3 {
    background-position: -2px -738px;
}

.eb-winsock2-1 {
    background-position: -2px -706px;
}

.eb-winsock2-2 {
    background-position: -2px -674px;
}

.eb-winsock2-3 {
    background-position: -2px -642px;
}

.eb-wsh-1 {
    background-position: -2px -610px;
}

.eb-wsh-2 {
    background-position: -2px -578px;
}

.eb-wsh-3 {
    background-position: -2px -546px;
}

.eb-xcode-v3 {
    background-position: -2px -514px;
}

.eb-xcode-v4-1 {
    background-position: -2px -482px;
}

.eb-xcode-v4-2 {
    background-position: -2px -450px;
}

.eb-xcode-v4-3 {
    background-position: -2px -418px;
}

.eb-xcode1 {
    background-position: -2px -386px;
}

.eb-xcode2 {
    background-position: -2px -354px;
}

.eb-xcode3 {
    background-position: -2px -322px;
}

.eb-xhtml-1 {
    background-position: -2px -290px;
}

.eb-xhtml-2 {
    background-position: -2px -258px;
}

.eb-xhtml-3 {
    background-position: -2px -226px;
}

.eb-xna4-1 {
    background-position: -2px -194px;
}

.eb-xna4-2 {
    background-position: -2px -162px;
}

.eb-xna4-3 {
    background-position: -2px -130px;
}

.eb-xquery-1 {
    background-position: -2px -98px;
}

.eb-xquery-2 {
    background-position: -2px -66px;
}

.eb-xquery-3 {
    background-position: -2px -34px;
}

.eb-zlecinia {
    background-position: -2px -2px;
}

.eb-preferredfreelancer-1 {
    background-position: -674px -706px;
}
